#upper-main-Answers {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  border: 2px dashed black;
  border-top: none;
  border-left: none;
  border-right: none;
}

#top-upper-mainAns {
  height: 40%;
}

#top-upper-main-numAns {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 100%;
}

#top-upper-main-title {
  display: inline-block;
  width: 72%;
  padding-left: 1%;
}

#top-upper-main-ask {
  display: inline-block;
  width: 13%;
}

#ans-main-ask {
  width: 80%;
  height: 50%;
  background-color: rgb(45, 150, 211);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 100%;
  padding: 15%;
}

#bottom-upper-mainAns {
  height: 60%;
}

#top-upper-main-numViews {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 100%;
}

#top-upper-main-questionContent {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2.5vh;
  padding-left: 1%;
  width: 72%;
}

.top-upper-main-QAskedBy {
  display: inline-block;
  width: 14%;
}

.top-upper-main-QAskedBy h4 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(176, 0, 0);
  margin-bottom: 2%;
}

.top-upper-main-QAskedBy h5 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 75, 75);
  font-weight: normal;
  margin-top: 2%;
}

#lower-main-Answers {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%; /* change the height later */
  border: none;
  overflow-y: auto;
}

.answer-container {
  width: 100%;
  position: relative;
  border: 2px dashed black;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.answer-content-div {
  display: inline-block;
  width: 85%;
}

.answer-content-div p {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2.25vh;
  padding: 1%;
  padding-left: 2%;
}

.answer-metadata-div {
  display: inline-block;
  width: 14%;
}

.answer-metadata-div h4 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  margin-bottom: 2%;
}

.answer-metadata-div h5 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(75, 75, 75);
  font-weight: normal;
  margin-top: 2%;
}

.ans-main-answer {
  width: 10vw;
  height: 8vh;
  background-color: rgb(45, 150, 211);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 100%;
  margin: 4vh 0vw 2vh 2vw;
}
